<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samuelford48gmail.campnavigateandroid">
<uses-permission android:name="android.permission.INTERNET"/>
    <application



        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:name=".ONEsignal_notifications"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Settings"></activity>
        <activity android:name=".fragment_more" />
        <activity android:name=".fragment_staff" />
        <activity android:name=".fragment_pictures" />
        <activity android:name=".MainActivity" />
        <activity android:name=".fragment_Movies" />
        <activity android:name=".fragment_FieldTrips" />
        <activity android:name=".fragment_Menu" />
        <activity
            android:name=".WeekLayout"
            android:label="@string/title_activity_week_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccessCode"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>